html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  z-index: 1 !important;
}

[contenteditable] {
  outline: 0px solid transparent;
}

#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:absolute;
  z-index: 2;

  color:white;
  font-family: 'VT323';
}

footer {
  transform:rotate(-5deg);
  font-size: 2em;
}

a {
  outline: none;
  color: #ffffff;
}

footer i {
  transition: color 1s;
  transition: transform 1s;
}

footer i:hover {
  color: #ed03ff;
  transform: translatey(-0.5em);
}

#text {
  transform:rotate(5deg);
  margin: 3em;
  font-size: 1.3em;
}

#text p {
  margin: 0.3em;
}

.secret {
  color: transparent;
}

#float {
  font-size: 3em;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% { transform: translatey(0) }
  50% { transform: translatey(-1em) }
  100% { transform: translatey(0) }
}
